<!-- olen localhost:4200/admin -->

<button type="button" class="btn btn-outline-dark btn-sm" routerLink="/admin/lisa-toode">{{"admin-home.add-product" | translate}}</button>
<button type="button" class="btn btn-outline-dark btn-sm" routerLink="/admin/halda-tooteid">{{"admin-home.maintain-products" | translate}}</button>
<button type="button" class="btn btn-outline-dark btn-sm" routerLink="/admin/kategooria">{{"admin-home.maintain-categories" | translate}}</button>
<button type="button" class="btn btn-outline-dark btn-sm" routerLink="/admin/lehe-seaded">{{"admin-home.page-settings" | translate}}</button>
